.foto{
        max-width:95%;
        max-height: 95%;
}

#wing{
        max-width:100%;
}

.album a{
        width: 16%;
        margin-left: 3%;
        display:inline-block;
        position:relative;
        text-decoration: none;
        cursor: pointer;
        text-align:center;
}

.album a:link{
        text-decoration: none;
}
.album a:hover{
        text-decoration: none;
}
.album a:visited{
        text-decoration: none;
}
.album a:link{
        text-decoration: none;
}

.ciara{
        width:100%;
        border-top: 1px solid #bbb;
}

.img_wrapper{
        width:100%;
        height: 200px;
        background-color: #fff;

}
.obsah{
        position:relative;
}

.img_game{
        max-width:95%;
        max-height: 95%;
        margin: auto;
          position: absolute;
          top: 0; left: 0; bottom: 0; right: 0;
}

.game_container{
        margin-bottom: 40px;
        position:relative;
}

h1,h2{
        position: relative;
}
.pos-relative{
        position:relative;
}

h3{
        margin:0;
}

@media screen and (max-width: 600px) {
        .foto{
                display:inline-block;
                width:40%;
                margin: 10px 10px;
        } 

        #wing{
                max-width:100%;
                max-height:200px;
        }
}
