			body	{
					text-align: center;
			}
			footer	{
					margin-top: 10px;
					margin-left: auto; 
					margin-right: auto; 
					width:100%; 
					text-align:center;
        			position: fixed;
        			bottom: 0;

			}
       		#tab1	{
       				float: center;
       				text-align: center;
       				margin: auto;
       				width: 30%;
       		}

       		#textyLave {
       				float: left;
       				text-align: right;
       				width: 20%;
       				margin-left: 10%;
       				margin-right: 5%;
       		}
       		#textyPrave {
       				float: right;
       				text-align: left;
       				width: 20%;
       				margin-left: 5%;
       				margin-right: 10%;
       		}
       		
       		input[type="text"] {
				    width: 30px;
				    height: 30px;
				    font-size: 27px;
				    text-align: center;
			}
			.taj {
					background-color: grey;
			}
			.cierneBunky {
					background-color: black;
			}
			.krizovky {
					width: 100%;
					line-height: 1.0;
					margin-top: 100px;
					margin-right: auto;
					margin-left: auto;

			}

