
	 #googleMap{
	 	 display:none;
         width: 100%;
         height: 80%;
    }
    #map_wrapper{
    	height: 600px;
    }

    #mapSection{
    	width: 700px;
    }
	
	.okno{
		max-width: 300px;
		margin:0 auto;
		/*min-height:100px;*/
	}

	#body{
		font-size:1.4em;
		margin: 0 auto;
	}
	#score{
		font-weight: bold;
	}

	#spravna_odpoved{
		margin-top: 20px;
	}

	

	.velke_a_tucne{
		font-size:1.4em;
		font-weight: bold;
	}

	#input_city_name label{
		font-weight: normal;
	}

	#map_wrapper{
		min-height:600px;
	}
	#hodnotenie{
		font-weight: normal;
	}