/*Stylesheets TINA*/

html {
	font-family: 'Roboto', Helvetica, Arial,sans-serif;
	position:relative;
	min-height: 100%;
}

body {
	margin-bottom:100px;
         padding: 60px 0 15px 0;
}
/*Header start link http://bootsnipp.com/snippets/featured/multi-level-dropdown-menu-bs3*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*Header end*/


/*Content start*/
.textAbout p{
    font-size:18px;
    margin-top:5%;
}

.rotate {
    -ms-transform: rotate(-25deg); /* IE 9 */
    -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
    transform: rotate(-25deg);
}

#firstDiv:before,
#secondDiv:before,
#thirdDiv:before,
#fourthDiv:before,
#fifthDiv:before {
   content: "";
   display: block;
   height: 40px;
   margin: -30px 0 0;
}

/*Content end*/
/*Footer start*/
.footer-text {
	color:#EFEFE6;
	font-size:18px;
}

footer .footer-text {
	margin: 20px 0;
}

footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

footer {
		text-align: center;
		position:absolute;
		width:100%;
		height:100px;
		color:#FBFBFB;
		background: #30302E;
		bottom:0;
}
/* Footer end */

.page-header h1{
    font-size: 30px;
}
