
/*sudoku style start*/

table  {
   border: 1px solid black;
}

td {
	border: 1px solid black;
	font-size: 25px;
	text-align: center;
	height: 40px;
	width: 40px;
}

th {
	border: 2px solid black;
}

strong {
	font-weight: 900;
	font-size: 27px;
}

#numbers {
	clear:both;
	float: left;
}

#board {
	float: left;
}

/*sudoku style end*/
