
/*sudoku style start*/

table  {
   border: 1px solid black;
}

td {
	border: 1px solid black;
	font-size: 25px;
	text-align: center;
	height: 40px;
	width: 40px;
}

th {
	border: 2px solid black;
}

strong {
	font-weight: 900;
	font-size: 27px;
}

#numbers {
	clear:both;
	float: left;
}

#board {
	float: left;
}

/*sudoku style end*/
/*graf style start*/
   .axis path, .axis line
        {
            fill: none;
            stroke: #777;
            shape-rendering: crispEdges;
        }
        
        .axis text
        {
            font-family: 'Arial';
            font-size: 13px;
        }
        .tick
        {
            stroke-dasharray: 1, 2;
        }
        .bar
        {
            fill: FireBrick;
        }
        
/*graf style end*/