/*Stylesheets TINA*/

html {
	font-family: 'Roboto', Helvetica, Arial,sans-serif;
	position:relative;
	min-height: 100%;
}

body {
	
}

/*Content start*/
body > .container {
	padding: 60px 15px 0;
}
/*Content end*/

/*Footer start*/
.footer-text {
	color:#EFEFE6;
	font-size:18px;
}

footer .footer-text {
	margin: 20px 0;
}

footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

footer {
		text-align: center;
		position:absolute;
		width:100%;
		height:100px;
		color:#FBFBFB;
		background: #30302E;
		bottom:0;
}
/* Footer end */

/*sudoku style start*/
table  {
   border: 1px solid black;
}

td {
	border: 1px solid black;
	font-size: 25px;
	text-align: center;
	height: 40px;
	width: 40px;
}

th {
	border: 2px solid black;
}

strong {
	font-weight: 900;
	font-size: 27px;
}

#numbers {
	clear:both;
	float: left;
}

#board {
	float: left;
}

/*sudoku style end*/